<div class="container main-layout">

  <div class="columns is-mobile is-centered job-name">
    <div class="column is-9">
      <div class="field">
        <div class="control has-icons-right">
          <input class="input is-medium" type="text" placeholder="Enter Job Name">
          <span class="icon is-small is-right">
              <i class="fa fa-check"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- +++++++++++++++++++++++++++++++++  MAIN  ++++++++++++++++++++++++++++++++ -->

  <div class="columns is-mobile is-centered">
    <div class="column is-10">
      <div class="box info-card-menu">
        <div class="columns is-mobile">
          <p class="column is-8">
            Cover Sheet
          </p>
          <div class="column is-1 is-offset-2">
            <div class="control">
              <div class="field">
                <input id="switchNormalCover" type="checkbox" name="switchNormal" class="switch is-large" (click)="showSelectedCover()">
                <label for="switchNormalCover"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedCover">
        <div class="box" style="border-radius:0px 0px 5px 5px;">
          <table class="table">
            <thead>
              <tr>
                <th>Car Number</th>
                <th>Customer</th>
                <th>Commodity</th>
                <th>Reason for Shipping</th>
                <th>Inspector</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="field">
                    <div class="control">
                      <div class="select is-small">
                        <select>
                          <option>Car Number</option>
                          <option *ngFor="let num of carNumbers">{{num}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="field">
                    <div class="control">
                      <div class="select is-small">
                        <select>
                          <option>Customer Name</option>
                          <option *ngFor="let name of customers">{{name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="field">
                    <div class="control">
                      <input class="input is-small" type="text" placeholder="Commodity">
                    </div>
                  </div>
                </td>
                <td>
                  <div class="field">
                    <div class="control">
                      <input class="input is-small" type="text" placeholder="Reason">
                    </div>
                  </div>
                </td>
                <td>
                  <div class="field">
                    <div class="control">
                      <input class="input is-small" type="text" placeholder="Inspector">
                    </div>
                  </div>
                </td>
                <td>
                  <div class="field">
                    <div class="control">
                      <input class="input is-small" type="text" placeholder="Date">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-10">
      <div class="box info-card-menu">
        <div class="columns is-mobile">
          <p class="column is-8">
            B-End - B-Left - Left-Side
          </p>
          <div class="column is-1 is-offset-2">
            <div class="control">
              <div class="field">
                <input id="switchNormal1" type="checkbox" name="switchNormal" class="switch is-large" (click)="showSelected1()">
                <label for="switchNormal1"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="selected1">
          <div class="box" style="border-radius:0px 0px 5px 5px;">
            <table class="table">
              <thead>
                <tr>
                  <th>Repair?</th>
                  <th>Job Code</th>
                  <th>QLF</th>
                  <th>W/M</th>
                  <th>Inspection Detail</th>
                  <th>Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="control">
                      <div class="field">
                        <input id="switchSmall1" type="checkbox" name="switchSmall" class="switch is-small" (click)="showSelectedSmall1()">
                        <label for="switchSmall1"></label></div>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <div class="control">
                        <input class="input is-small" type="text" placeholder="Enter Job Code">
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <div class="control">
                        <div class="select is-small">
                          <select>
                            <option placeholder="QLM">QLF</option>
                            <option *ngFor="let i of qlf">{{i}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <div class="control">
                        <input class="input is-small" type="text" placeholder="W/M" style="width:3rem;">
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <div class="control">
                        <div class="select is-small">
                          <select>
                            <option placeholder="Select Part">Select Part</option>
                            <option *ngFor="let i of data">{{i}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <div class="control">
                        <div class="select is-small">
                          <select>
                            <option>QTY</option>
                            <option *ngFor="let num of qtyNum">{{num}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-10">
      <div class="box info-card-menu">
        <div class="columns is-mobile">
          <p class="column is-8">
            A-Left
          </p>
          <div class="column is-1 is-offset-2">
            <div class="control">
              <div class="field">
                <input id="switchNormal2" type="checkbox" name="switchNormal" class="switch is-large" (click)="showSelected2()">
                <label for="switchNormal2"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="selected2">
          <div class="box card-details">
            <p>Data Will Go Here</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-10">
      <div class="box info-card-menu">
        <div class="columns is-mobile">
          <p class="column is-8">
            A-End A-Right Right-Side
          </p>
          <div class="column is-1 is-offset-2">
            <div class="control">
              <div class="field">
                <input id="switchNormal3" type="checkbox" name="switchNormal" class="switch is-large" (click)="showSelected3()">
                <label for="switchNormal3"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="selected3">
          <div class="box">
            <p>Data Will Go Here</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-10">
      <div class="box info-card-menu">
        <div class="columns is-mobile">
          <p class="column is-8">
            B-Right
          </p>
          <div class="column is-1 is-offset-2">
            <div class="control">
              <div class="field">
                <input id="switchNormal4" type="checkbox" name="switchNormal" class="switch is-large" (click)="showSelected4()">
                <label for="switchNormal4"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="selected4">
          <div class="box">
            <p>Data Will Go Here</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-10">
      <div class="box info-card-menu">
        <div class="columns is-mobile">
          <p class="column is-8">
            Top/Bottom
          </p>
          <div class="column is-1 is-offset-2">
            <div class="control">
              <div class="field">
                <input id="switchNormal5" type="checkbox" name="switchNormal" class="switch is-large" (click)="showSelected5()">
                <label for="switchNormal5"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="selected5">
          <div class="box">
            <p>Data Will Go Here</p>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>